.App {
  text-align: center;
  color: #3cb553;
}

.App-header {
  min-height: 20vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* font-size: calc(2px + 1vmin); */
  color: black;
  font-size: smaller;
}

.form-content {
  padding: 7rem;
  color: #3cb553;
}

.ranges {
  display: flex;
  justify-content: space-between;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
